PORT=5000
# express trust proxy config for if you are using a reverse proxy
TRUST_PROXY=1
DATABASE_URL=""
WEB3_STORAGE_EMAIL="test@gmail.com"
WEB3_STORAGE_SPACE="ixo"
FILE_TYPES=["image/svg+xml", "image/png", "application/ld+json", "application/json", "application/pdf"]
