name: Build and Release
on:
  push:
    branches:
      - master
      - develop

jobs:
  build-and-release:
    uses: ixofoundation/ixo-github-actions/.github/workflows/node-ci-build.yml@main
    with:
      commit_sha: ${{ github.sha }}
    secrets: inherit